.movie-info {
    display: flex;
    align-items: center;
}

.movie-info-right {
    width: 40%;
    margin-right: 20px;

}
.sublist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:5%;
  }
  
  .sublist-first,
  .sublist-second {
    width: 48%;
  }
  


.movie-info-left {
    background-color: rgba(240, 248, 255, 0.075);
    border: 1 solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    height: 80%;
    padding: 4%;
    margin-top: 50px;
    flex-wrap: wrap;  
}

.movie-info-right img {
    margin-top: 10%;
    width: 100%;
}

.title-movie-page {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin: 20px;
}

.title-movie-page {
    text-transform: capitalize;
}

.title-movie-page:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 2px;
    content: "";
    background-color: #646cff;
}

.title-movie-page span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}

.alt-title-movie-page {
    text-align: center;
}

.alt-title-movie-page:before {
    left: 50%;
    margin-left: -30px;
}

.movie-info-left h4 {
    font-size: 24px;
    color: #646cff;
    margin: 0;

}

.movie-info-left p {
    margin-bottom: 10px;
    padding-bottom: 15px;
    margin: 0;

}