.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 468px) {
  
  .form input{
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  z-index: 0;
  width: 100%;
  gap: 20px;
  padding: 0;
}

.grid li {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2px;
  
}

.grid img {
  cursor: pointer;
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;
}
.grid h4, .grid p {
  margin: 0;
}

.text-card {
  cursor: pointer;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
}

.text-card h4 {
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}